*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

/* --------------- DEFINE THE GRID'S GAME AREA --------------- */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* --------------- REMOVE GRID'S BORDERS --------------- */
/* Remove the top border of my grid */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* Remove the left border of my grid */
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* Remove the right border of my grid */
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* Remove the bottom border of my grid */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* Indicate cells that can't be marked */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* --------------- DEFINE MARK'S COLORS--------------- */
.cell.x::before,
.cell.x::after {
  background-color: red;
}

.cell.circle::before,
.cell.circle::after {
  background-color: black;
}

/* --------------- SHOW SHADOWS ON HOVER --------------- */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

/* --------------- CREATE X-MARK & X'S SHADOW MARK--------------- */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, /* Interdit le shadow au survol sur des cases déjà marquées */
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute; /* Aligne correctement les deux barres du X */
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* --------------- CREATE CIRCLE-MARK & CIRCLE'S SHADOW MARK--------------- */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute; /* Aligne correctement l'anneau et le cercle du circle-mark */
  border-radius: 50%;
}

/* Define the circle-mark */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

/* Define the white disc onto the center of the circle-mark */
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

/* --------------- DEFINE THE WINNING MESSAGE --------------- */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: solid 1px black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}
