@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Luckiest+Guy&display=swap');

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #172b47;
  font-family: 'Comfortaa', cursive;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4em;
  background-color: #172b47;
  color: #ffb527;
  border: solid 3px #e9eaed;
  border-radius: 20px;
  margin: 0.5px 0;
}

h2 {
  color: #e9eaed;
  margin: 3rem 0 0;
}

.playersName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e9eaed;
  margin: 2rem 0 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playersName p {
  font-size: 2rem;
  margin: 0.6rem;
}

.playersName p:nth-child(2n + 1) {
  color: #ffb527;
}

#setPlayersName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #e9eaed;
}

#setPlayersName div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#setPlayersName p {
  font-size: 1.2rem;
}

#setPlayersName div > div,
#setPlayersName input {
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

/* --------------- DEFINE THE GRID'S GAME AREA --------------- */
.board {
  width: 100vw;
  height: 45vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #ffb527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* --------------- REMOVE GRID'S BORDERS --------------- */
/* Remove the top border of my grid */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* Remove the left border of my grid */
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* Remove the right border of my grid */
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* Remove the bottom border of my grid */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* Indicate cells that can't be marked */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* --------------- DEFINE MARK'S COLORS--------------- */
.cell.x::before,
.cell.x::after {
  background-color: #e9eaed;
}

.cell.circle::before,
.cell.circle::after {
  background-color: #ffb527;
}

/* --------------- SHOW SHADOWS ON HOVER --------------- */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: #757679e5;
}

/* --------------- CREATE X-MARK & X'S SHADOW MARK--------------- */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  /* Aligne correctement les deux barres du X */
  width: calc(var(--mark-size) * 0.2);
  height: var(--mark-size);
  border-radius: 20px;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* --------------- CREATE CIRCLE-MARK & CIRCLE'S SHADOW MARK--------------- */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

/* Define the circle-mark */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: calc(var(--mark-size) * 0.9);
  height: calc(var(--mark-size) * 0.9);
}

/* Define the white disc onto the center of the circle-mark */
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.55);
  height: calc(var(--mark-size) * 0.55);
  background-color: #172b47;
}

/* --------------- DEFINE THE WINNING MESSAGE --------------- */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #172b47ee;
}

.winning-message .message {
  width: 100vw;
  padding: 1rem 0;
}

.winning-message.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 4rem;
  color: #e9eaed;
}

.cup {
  display: none;
  width: 10vw;
  min-width: 80px;
  height: auto;
  border-radius: 30%;
  background: linear-gradient(145deg, #192e4c, #152740);
  box-shadow: 7px 7px 14px #0d1828, -7px -7px 14px #213e66;
  margin: 1rem 0;
}

.cup.show {
  display: flex;
  width: 10vw;
  min-width: 80px;
  height: auto;
  border-radius: 30%;
  background: linear-gradient(145deg, #192e4c, #152740);
  box-shadow: 7px 7px 14px #0d1828, -7px -7px 14px #213e66;
  margin: 1rem 0;
}

.scoresTable {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: repeat(2, 100px);
  -ms-grid-columns: 30vw 5vw 30vw;
  grid-template: repeat(2, 100px) / 30vw 5vw 30vw;
  border: outset 4px #ffb527;
  border-radius: 20px;
  background: linear-gradient(145deg, #192e4c, #152740);
  box-shadow: 7px 7px 14px #0d1828, -7px -7px 14px #213e66;
  margin: 0.5rem 0;
  padding: 0 1rem;
  font-size: 3rem;
}

.winning-message nav {
  margin-bottom: 2rem;
}

.winning-message .message,
footer {
  background-color: #ffb527;
  color: #172b47;
}

/* --------------- DEFINE CREDITS.HTML SECTION --------------- */
.credits section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  margin: 1rem 1rem;
  padding: 0;
}

.credits section nav li,
.credits section nav a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #e9eaed;
}

/* --------------- DEFINE GAME RULES SECTION --------------- */
#rules {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  background-color: #172b47ee;
}

#rules div {
  width: 50vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: linear-gradient(315deg, #152740, #192e4c);
  box-shadow: -8px -8px 16px #112035, 8px 8px 16px #1d3659;
  color: #e9eaed;
}

#rules div h3 {
  color: #ffb527;
}

#rules div h3 {
  font-size: 2rem;
}

/* --------------- DEFINE BUTTONS'S STYLE --------------- */
#go,
#goToGame,
#startButton,
#restartButton,
#resetButton {
  font-family: 'Comfortaa', cursive;
  background-color: #172b47;
  color: #ffb527;
  font-size: 1.5rem;
  border-radius: 15px;
  border: outset 2px #e9eaed;
  -webkit-box-shadow: inset 0px 0px 8px #e9eaed;
  box-shadow: inset 0px 0px 8px #e9eaed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem 1.25rem 0 1.25rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

#go:hover,
#goToGame:hover,
#startButton:hover,
#restartButton:hover,
#resetButton:hover {
  background-color: #172b47;
  color: #e9eaed;
}

#go img,
.winning-message button img {
  width: 40px;
  position: relative;
  top: 4px;
  right: 8px;
}

.winning-message button img {
  border-radius: 40%;
}

#go span,
.winning-message button span {
  position: relative;
  bottom: 8px;
}

/* --------------- DEFINE THE FOOTER --------------- */

footer {
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

footer p {
  margin: 0;
}

footer a {
  color: #172b47;
}

/* ///////////////////////////////////////////////////////////////////////////*/
/* /////////////////////////                             /////////////////////*/
/*                                  MEDIA QUERIES                             /*
/* /////////////////////////                             /////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 345px) {
  :root {
    --cell-size: 60px;
  }

  html {
    font-size: 12px;
  }
  body {
    background-color: #172b47;
    width: 100vw;
    margin: 0;
  }

  header {
    height: 18vh;
    width: 100vw;
  }

  header h1 {
    font-size: 3em;
  }

  header section {
    width: 100%;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .playersName {
    margin-top: 2.2rem;
  }

  .playersName p {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  #setPlayersName p {
    font-size: 1rem;
    margin: 0.8rem 0.8rem;
  }

  #setPlayersName div > div,
  #setPlayersName input {
    margin: 0.5rem 1rem;
  }

  .board {
    width: 100%;
    height: 30vh;
  }

  /* --------------- DEFINE THE WINNING MESSAGE --------------- */
  .winning-message.show {
    font-size: 2.2rem;
    color: #e9eaed;
  }

  .cup {
    width: 8vw;
    min-width: 60px;
  }

  .scoresTable {
    grid-template: repeat(2, 60px) / 42vw 4vw 42vw;
    padding: 0 0.5rem;
    font-size: 1.6rem;
  }

  .credits section nav li,
  .credits section nav a {
    line-height: 2rem;
  }

  #rules div {
    width: 280px;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    top: 250px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    font-size: 1.2rem;
    width: 80%;
    min-width: fit-content;
    margin: 0.8rem;
    padding: 0.8rem;
  }

  #go {
    padding: 2px 1rem;
  }

  #startButton {
    margin: 1rem 0;
    width: 100%;
    height: 12vh;
    font-size: 1.5rem;
  }

  #go img,
  .winning-message button img {
    width: 30px;
    top: 2px;
    right: 8px;
  }

  #restartButton img {
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    top: 2px;
    right: 20px;
  }

  #resetButton img {
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    top: 2px;
    right: 27px;
  }

  #go span,
  .winning-message button span {
    position: relative;
    bottom: 9px;
    right: 5px;
  }
}

@media screen and (min-width: 345px) and (max-width: 375px) {
  :root {
    --cell-size: 90px;
    box-sizing: border-box;
    font-size: 12px;
    margin: 0;
  }

  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header {
    width: 100vw;
  }

  header h1 {
    font-size: 3em;
  }

  header section {
    width: 100%;
  }

  h2 {
    margin: 1rem 0;
  }

  .playersName {
    margin-top: 1.8rem;
  }

  .playersName p {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  #setPlayersName div {
    font-size: 2rem;
  }

  #setPlayersName p {
    font-size: 1.5rem;
    margin: 1.1rem 0.8rem;
  }

  #setPlayersName div > div,
  #setPlayersName input {
    margin: 1rem;
  }

  /* --------------- DEFINE THE WINNING MESSAGE --------------- */

  .winning-message.show {
    font-size: 3rem;
  }

  .scoresTable {
    grid-template: repeat(2, 60px) / 42vw 5vw 42vw;
    padding: 0 0.5rem;
    font-size: 2rem;
  }

  /* --------------- DEFINE CREDITS.HTML SECTION --------------- */

  .credits section nav li,
  .credits section nav a {
    line-height: 2rem;
  }

  /* --------------- DEFINE GAME RULES SECTION --------------- */

  #rules div {
    width: 300px;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    top: 290px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    width: 80%;
    min-width: fit-content;
    margin: 0.8rem;
    padding: 0.8rem;
  }

  #go {
    padding: 2px 1rem;
  }

  #startButton {
    margin: 5vh 0;
    height: 15vh;
    width: 100%;
    font-size: 2rem;
  }

  #go img,
  .winning-message button img {
    width: 30px;
    position: relative;
    top: 2px;
    right: 8px;
  }

  #restartButton img,
  #resetButton img {
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    top: 2px;
    right: 20px;
  }

  #resetButton img {
    right: 27px;
  }

  #go span,
  .winning-message button span {
    position: relative;
    bottom: 7px;
    right: 5px;
  }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  html {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0;
  }
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header {
    height: 20vh;
    width: 100vw;
  }

  header section {
    width: 100%;
  }

  h2 {
    color: #e9eaed;
    margin: 1rem 0;
  }

  .playersName {
    margin-top: 3.2rem;
  }

  .playersName p {
    margin: 2rem 1.5rem 1.5;
  }

  #setPlayersName {
    gap: 2vh;
  }

  #setPlayersName div {
    font-size: 2rem;
  }

  #setPlayersName p {
    font-size: 1.5rem;
    margin: 1.5rem 0.5rem;
    padding: 1.2rem 0.5rem;
  }

  #setPlayersName div > div,
  #setPlayersName input {
    margin: 1rem;
  }

  /* --------------- DEFINE THE WINNING MESSAGE --------------- */

  .winning-message.show {
    font-size: 3.5rem;
  }

  .scoresTable {
    -ms-grid-rows: repeat(2, 50px);
    -ms-grid-columns: 40vw 5vw 40vw;
    grid-template: repeat(2, 50px) / 40vw 5vw 40vw;
    padding: 0 0.5rem;
    font-size: 2rem;
  }

  /* --------------- DEFINE CREDITS.HTML SECTION --------------- */
  .credits section nav li,
  .credits section nav a {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* --------------- DEFINE GAME RULES SECTION --------------- */
  #rules {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    background-color: #172b47ee;
  }

  #rules div {
    width: 80vw;
    height: 90vh;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    top: 300px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    font-size: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 80%;
    min-width: fit-content;
    margin: 1rem;
    padding: 1rem;
  }

  #go {
    padding: 2px 1rem;
  }

  #startButton {
    margin: 0 0 0 2rem;
    height: 17vh;
  }

  #go img,
  .winning-message button img {
    position: relative;
    top: 2px;
    right: 15px;
  }

  #restartButton img,
  #resetButton img {
    width: 20px;
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    right: 7px;
  }

  #resetButton img {
    right: 17px;
  }

  #go span,
  .winning-message button span {
    position: relative;
    bottom: 9px;
    right: 5px;
  }

  /* --------------- DEFINE THE FOOTER --------------- */
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --cell-size: 70px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
  }
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header {
    width: 100vw;
  }

  header section {
    width: 100%;
  }

  h2 {
    margin: 1rem 0;
  }

  .playersName p {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  #setPlayersName p {
    font-size: 1.2rem;
    margin: 0.8rem 0.5rem;
    padding: 0.5rem;
  }

  #setPlayersName div > div,
  #setPlayersName input {
    font-size: 1.1rem;
    margin: 0.3rem;
  }

  #username1,
  #username2 {
    width: 150px;
  }

  footer {
    font-size: 0.8rem;
  }

  /* --------------- DEFINE THE WINNING MESSAGE --------------- */

  .winning-message.show {
    font-size: 3.5rem;
  }

  .scoresTable {
    -ms-grid-rows: repeat(2, 70px);
    -ms-grid-columns: 40vw 5vw 40vw;
    grid-template: repeat(2, 70px) / 40vw 5vw 40vw;
    border: outset 4px #ffb527;
    border-radius: 20px;
    background: linear-gradient(145deg, #192e4c, #152740);
    box-shadow: 7px 7px 14px #0d1828, -7px -7px 14px #213e66;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    font-size: 1.8rem;
  }

  /* --------------- DEFINE CREDITS.HTML SECTION --------------- */

  .credits section nav li,
  .credits section nav a {
    line-height: 2rem;
  }

  /* --------------- DEFINE GAME RULES SECTION --------------- */

  #rules div {
    width: 70vw;
    margin: 0;
    padding: 1.5rem;
    font-size: 1rem;
    position: absolute;
    top: 300px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    width: 300px;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  #go {
    padding: 0.2rem 0;
    margin: 0.5rem 0 0.2rem 0;
  }

  #go img,
  .winning-message button img {
    width: 15px;
    position: relative;
    top: 0px;
    right: 10px;
  }

  #restartButton img {
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    right: 7px;
  }

  #resetButton img {
    border-radius: 30%;
    background-color: #e9eaede8;
    padding: 7px;
    right: 17px;
  }
}

/* BUGFIX- Bf - affichage suivant*/

@media screen and (min-width: 769px) and (max-width: 980px) {
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
  }
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header {
    height: 20vh;
    width: 100vw;
  }

  header section {
    width: 100%;
  }

  h2 {
    margin: 1rem 0;
  }

  .playersName p {
    font-size: 1.8rem;
  }

  #setPlayersName div {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #setPlayersName p {
    padding: 2rem;
  }

  /* --------------- DEFINE GAME RULES SECTION --------------- */

  #rules div {
    width: 50vw;
    margin: 0;
    padding: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 400px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    font-size: 1.8rem;
    width: 60%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    min-width: fit-content;
    height: 8vh;
    margin: 1rem;
    padding: 1rem;
  }

  #startButton {
    margin: 1.5rem 0;
    padding: 0 1rem;
  }

  #go img,
  .winning-message button img {
    position: relative;
    top: -8px;
    right: 10px;
  }

  #go span,
  .winning-message button span {
    position: relative;
    bottom: 1rem;
    right: 5px;
  }
}

@media screen and (min-width: 981px) and (max-width: 1680px) {
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  .playersName {
    margin: 1rem 0 0;
  }

  .playersName p {
    font-size: 1.8rem;
  }

  #setPlayersName {
    margin: 0 0 1rem;
  }

  #setPlayersName div {
    font-size: 1rem;
  }

  #setPlayerName p {
    margin: 0 0 1rem;
  }

  h2 {
    margin: 1.5rem 0;
  }

  #board {
    height: 45vh;
  }

  /* --------------- DEFINE GAME RULES SECTION --------------- */

  #rules div {
    width: 50vw;
    margin: 0;
    padding: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 400px;
  }

  /* --------------- DEFINE BUTTONS'S STYLE --------------- */
  #go,
  #goToGame,
  #startButton,
  #restartButton,
  #resetButton {
    font-size: 1.8rem;
    width: 60%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    min-width: fit-content;
    height: 8vh;
    margin: 1rem;
    padding: 1rem;
  }

  #startButton {
    margin: 0;
    padding: 0 1rem;
  }

  #go {
    margin-bottom: 0;
  }

  #go img,
  .winning-message button img {
    width: 35px;
    position: relative;
    top: -8px;
    right: 5px;
  }

  #go span,
  .winning-message button span {
    position: relative;
    bottom: 1rem;
    right: 5px;
  }
}
